body{
background-color: black;
height: 45vw;
display: flex;
justify-content: center;
align-items: center;
transition: background 1s;
}

button{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  max-width: 500px;
  max-height: 500px;
}